@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.will-update {
	transform: translateZ(0);
}
.top-90 {
	top: 90%;
}

.snap-type {
	scroll-snap-type: x mandatory;
}

.snap-align {
	scroll-snap-align: center;
}
/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
	input {
		@apply w-full h-full bg-transparent p-2 text-xs border-none;
	}

	input:focus {
		@apply outline-none;
	}
}
